 @import url("https://fonts.googleapis.com/css2?family=Loved+by+the+King&family=Sue+Ellen+Francisco&display=swap");
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Sue Ellen Francisco";
 }

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
    min-height: 100vh;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
 }

 header {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2em 1em;
    width: 100%;
 }

 main {
    margin: 2em;
    flex-grow: 1;
 }

img {
    max-width: 100%;
    height: auto;
}

.headContainer {
    display: flex;
    justify-content: center;
    padding: .5em;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.headContainer img {
    max-width: 100px;
    height: auto;
}

h1 {
    margin: 0;
    font-size: 3em;
    align-content: flex-end;
    text-align: center;
    flex-shrink: 0;
    font-family: var(--secondary-font);
    color: black
}

.cardText h2 a {
    font-family: var(--secondary-font);
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    margin: 50px 0px 20px 0px;
    color: var(--primary-color);
}

.recipe_tags {
    display: flex;
}

.recipe_tags li{
    font-family: var(--primary-font);
    list-style: none;
    border: 2px solid black;
    width: fit-content;
    padding: 0.3rem;
    margin: 0.3rem;
}

.recipe_tags li:nth-child(1) {
    align-items: flex-start;
}

.recipe_tags li:nth-child(2) {
    align-items: flex-end;
}

.searchContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

#searchBar {
    width: 91%;
    height: 40px;
    font-size: 1.2rem;
}

#searchButton {
    width: 3em;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchButton:hover {
    background-color: var(--primary-color);
    opacity: .3;
}

.recipeCard {
    width: 100%;
    border: 1px solid black;
    padding: 1em;
    border-radius: 10px;
}

.recipeCard img {
    margin-bottom: 1em;
}

.cardText {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recipe_description {
    display: none;

}

.recipe_ratings {
    font: 1.2em;
    margin-bottom: 0.5rem;
}

footer {
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.social img {
    width: 3.5em;
    padding: 0.2em;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (min-width: 600px) {

    header {
        padding: 1rem 2rem;
    }

    .headContainer {
        flex-grow: 0;
    }

    main {
        gap: 2em;
        padding: 1em 2em;
    }

    p {
        display: block;
    }
    
    footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

}

@media (min-width: 960px) {

    main {
        padding: 2rem;
    }

    .searchContainer {
        display: flex;
        width: 100%;
    }

    #searchBar {
        width: 91%;
    }

    .recipeCard {
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-right: 1em;
        flex-shrink: 0;
    }

    .recipeCard img {
        width: 100%;
        margin-bottom: 0;
        margin-right: 1em;
        flex-shrink: 0;
    }

    .cardText h2, .cardText ul, .recipe_ratings {
        align-items: flex-start;
        margin: .5em;
        margin-left: 1em;
    }

    .recipe_description {
        font-size: 1.1rem;
        display: block;
        margin: .5em;
        margin-left: 1em;
    }

    .social img {
        width: 2em;
    }

}